.welcome-section{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;

    @include laptop-desktops{
        min-height: 100%;
        flex-direction: row;
    }

    & .welcome-text{
        width: auto;
        max-width: 327px;
        text-align: center;
        margin: 100px 0;

        @include tablet-portrait{
            max-width: 444px;
        }

        @include laptop-desktops{
            text-align: left;
        }

        & .supheading{
            text-transform: uppercase;
            font-weight: 400;
            color: colorSet(light-clr, pale-purple);
        }

        & .subheading{
            font-weight: 400;
            line-height: 32px;
            color: colorSet(light-clr, pale-purple);
        }
    }
}