@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap');


$primary-font: 'Bellefair', serif;
$secondary-font: 'Barlow Condensed', sans-serif;

//* Grouped styling for ease of readability

body{
    font-family: $secondary-font;
    font-size: 18px;
    color: colorSet(light-clr, white);
}

h1, h2, h3, h4{
    font-family: $primary-font;
    text-transform: uppercase;
    font-weight: 400;
}

//* Individual styling based on font size

h1{
    @include fluidType(font-size, 320px, 2560px, 80px, 180px)
}

h2{
    @include fluidType(font-size, 320px, 2560px, 56px, 130px)
}

h3{
    @include fluidType(font-size, 320px, 2560px, 24px, 65px)
}

h4{
    @include fluidType(font-size, 320px, 2560px, 16px, 42px)
}

h5{
    font-family: $secondary-font;
    letter-spacing: 4.7px;
    @include fluidType(font-size, 320px, 2560px, 16px, 35px)
}

.subheading_facts-titles{
    letter-spacing: 2.3px;
    @include fluidType(font-size, 320px, 2560px, 14px, 24px)
}

.subheading_planet-facts{
    @include fluidType(font-size, 320px, 2560px, 28px, 35px)
}

.navText_styling{
    text-transform: uppercase;
    letter-spacing: 2.7px;
    font-weight: 400;
    font-size: 16px;
}