@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap');


$primary-font: 'Bellefair', serif;
$secondary-font: 'Barlow Condensed', sans-serif;

//* Grouped styling for ease of readability

body{
    font-family: $secondary-font;
    color: colorSet(light-clr, white);
    @include fluidType(font-size, 320px, 2560px, 18px, 28px)
}

h1, h2, h3, h4{
    font-family: $primary-font;
    text-transform: uppercase;
    font-weight: 400;
}

//* Individual styling based on font size

h1{
    @include fluidType(font-size, 320px, 2560px, 80px, 250px)
}

h2{
    @include fluidType(font-size, 320px, 2560px, 56px, 130px)
}

h3{
    @include fluidType(font-size, 320px, 2560px, 24px, 65px)
}

h4{
    @include fluidType(font-size, 320px, 2560px, 16px, 42px)
}

h5{
    font-family: $secondary-font;
    @include fluidType(letter-spacing, 320px, 2560px, 2.7px, 4.7px);
    @include fluidType(font-size, 320px, 2560px, 16px, 35px)
}

.subheading_facts-titles{
    letter-spacing: 2.3px;
    @include fluidType(font-size, 320px, 2560px, 14px, 24px)
}

.subheading_planet-facts{
    @include fluidType(font-size, 320px, 2560px, 28px, 35px)
}

.navText_styling{
    text-transform: uppercase;
    letter-spacing: 2.7px;
    font-weight: 400;
    font-size: 16px;

    @include large-desktops{
        font-size: 22px;
    }
}

.explore-cta{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: none;
    font-family: $primary-font;
    text-transform: uppercase;
    cursor: pointer;
    background-color: colorSet(light-clr, white);
    color: colorSet(dark-clr, black);
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;

    @include fluidType(height, 320px, 2560px, 150px, 350px);
    @include fluidType(width, 320px, 2560px, 150px, 350px);
    @include fluidType(font-size, 320px, 1440px, 20px, 32px);
    @include fluidType(letter-spacing, 320px, 1440px, 1.25px, 2px);
}