.planet-content {
    width: 95%;
    height: 95%;
    margin: auto;

    & .page-title {
        opacity: 0;
        padding: 25px 0 0 40px;
        letter-spacing: 4.7px;
        font-weight: 400;
        text-transform: uppercase;

        & span {
            margin-right: 10px;
            opacity: 0.5;
            font-weight: 800;
            letter-spacing: 4.7px;
        }
    }

    & .flex-container {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: 90%;
        margin-top: 20px;

        @include laptop-desktops {
            flex-direction: row;
        }

        & .planetImg-container {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 50%;
            margin: 40px 0;

            @include laptop-desktops {
                width: 50%;
                height: 100%;
                margin: 0;
            }

            & .planet-image{
                height: 0;
            }
        }

        & .planet-text {
            width: 100%;
            height: 50%;

            @include laptop-desktops {
                width: 50%;
                height: 100%;
            }

            & .planet-list{
                display: flex;
                justify-content: space-between;
                align-items: center;
                text-align: center;
                list-style: none;
                text-transform: uppercase;
                max-width: 400px;

                & li {
                    position: relative;
                    width: fit-content;

                    &:hover{
                        cursor: pointer;
                    }
                }
            }

            & p {
                width: 100%;
                max-width: 327px;

                @include tablet-portrait {
                    max-width: 573px;
                }

                @include laptop-desktops {
                    width: 50%;
                    max-width: 444px;
                }
            }
        }
    }
}

.active-planet {
    &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -2px;
        background-color: #fff;
        height: 3px;
        width: 100%;
    }
}