.planet-content {
    width: 100%;
    height: fit-content;
    background-color: red;

    & .page-title{
        background-color: blue;
    }

    & .flex-container{
        background-color: pink;

        & .planetImg-container{
            background-color: purple;
        }

        & .planet-text{
            background-color: green;
        }
    }
}

.active-planet {
    color: white !important;
    &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -2px;
        background-color: #fff;
        height: 3px;
        width: 100%;
    }
}
