.planet-content{
    width: 100%;
    height: 100%;
    padding-bottom: 50px;

    @include laptop-desktops{
        padding-bottom: 0;
    }

    & .page-title{
        text-align: center;
        margin: 20px 0;
        opacity: 0;
        transform: translateY(10px);

        @include laptop-desktops{
            text-align: left;
            padding: 0px 0 10px 30px;
            margin: 0;
        }
    }

    & .flex-container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: 100%;

        @include laptop-desktops{
            flex-direction: row;
            height: 80%;
        }

        & .planetImg-container{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 50%;

            @include laptop-desktops{
                align-items: flex-end;
                width: 50%;
                height: 70vh;
            }

            & .planet-image{
                height: 0;
                width: auto;
                max-width: 90%;
            }
        }

        & .planet-text{
            width: 100%;
            height: 50%;

            @include laptop-desktops{
                width: 50%;
                height: 100%;
            }
        }

        & .planet-list{
            list-style: none;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 90%;
            max-width: 400px;
            margin: 20px auto;

            @include laptop-desktops{
                margin: 20px 0 25px 0;
            }

            & li {
                opacity: 0;
                transform: translateY(10px);
                cursor: pointer;
                text-transform: uppercase;
            }
        }

        & .planet-name{
            margin: 10px 0;
            text-align: center;

            @include laptop-desktops{
                text-align: left;
                margin: 30px 0 10px 0;
            }
        }

        & .planet-info{
            margin: 10px auto 50px auto;
            text-align: center;
            width: 90%;
            max-width: 700px;

            @include laptop-desktops{
                text-align: left;
                margin: 10px 0 30px 0;
            }
        }

        & .planet-facts{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 90%;
            max-width: 700px;
            margin: 0 auto;
            padding-top: 5px;

            @include laptop-desktops{
                margin: 0;
            }

            & .subheading_planet-facts{
                text-transform: uppercase;
                margin-top: 5px;
            }
        }
    }
}

.active-planet {
    &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -2px;
        background-color: #fff;
        height: 3px;
        width: 100%;
    }
}