//* All styling related to the navbar is nested within the .navbar
.navbar {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px 0 30px;

    & .logo-homeLink {
        & p {
            display: none;
        }
    }

    & .style-line {
        position: absolute;
        z-index: 1;
        left: 140px;
        display: none;
        height: 1px;
        background-color: colorSet(light-clr, white);
        opacity: 0.3;

        //* Responsive width for the style line allows it to grow nad shrink based on screen size
        @include fluidType(width, 1100px, 2560px, 330px, 950px);
    }

    & .hamburger-icon {
        cursor: pointer;

        //* hamburger icon mixin
        @include tablet-portrait {
            display: none;
        }
    }
    & .nav-list {
        position: fixed;
        top: 0;
        right: 0;
        width: 0vw;
        height: 100vh;
        list-style: none;
        background: rgba(255, 255, 255, 0.037);
        backdrop-filter: blur(16px);
        -webkit-backdrop-filter: blur(16px);
        transition: all 0.5s ease-in-out;

        & .close-icon {
            position: relative;
            top: 5%;
            left: 80%;
            width: fit-content;
            text-align: right;
            margin-bottom: 80px;
            cursor: pointer;

            & img {
                width: 100%;
                height: 100%;
            }
        }

        & a {
            height: 100%;
            color: colorSet(light-clr, white);
            text-decoration: none;
            cursor: pointer;
        }

        & .nav-item {
            position: relative;
            display: flex;
            justify-content: start;
            align-items: center;
            margin: 0 0 32px 0;
            color: colorSet(light-clr, white);
            text-decoration: none;
            cursor: pointer;

            & span {
                margin: 0 10px 0 20px;
                font-weight: bold;

                //* nav item span mixin
                @include tablet-portrait {
                    margin: 0 10px 0 0;
                }
            }
        }

        //* Nav list mixin
        @include tablet-portrait {
            position: relative;
            width: 70vw;
            height: 80px;
            display: flex;
            justify-content: space-evenly;
            align-items: center;

            & .close-icon {
                display: none;
            }

            & .nav-item {
                height: 100%;
                margin: 0;

                & span {
                    display: none;
                }
            }
        }

        //* Nav list mixin
        @include laptop-desktops {
            width: 60vw;
            & .nav-item span {
                display: block;
            }
        }
    }

    //* Navbar mixins for multiple screen sizes
    @include tablet-portrait {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 0;

        & .logo-homeLink {
            margin-left: 20px;
        }
    }

    @include laptop-desktops {
        & .style-line {
            display: block;
        }
    }
}

.nav-list.open {
    width: 50vw;
    transition: all 0.5s ease-in-out;
}

.hover {
    @include tablet-portrait {
        &::before {
            transition: 300ms;
            height: 3px;
            width: 0;
            bottom: 0;
            left: 0;
            content: "";
            position: absolute;
            background-color: colorSet(light-clr, grey);
        }

        &:hover::before {
            width: 100%;
        }
    }
}

.active {
    @include tablet-portrait {
        border-bottom: 3px solid white;
        padding-top: 3px;
    }
}
