.tech-content {
    width: 100%;
    height: fit-content;

    & .page-title {
        text-transform: uppercase;
        font-weight: 400;
        text-align: center;
        margin: 0 0 20px 0;

        & span {
            font-weight: 800;
            margin-right: 10px;
            color: colorSet(light-clr, grey);
        }

        @include laptop-desktops {
            text-align: left;
            margin: 0 0 20px 20px;
        }
    }

    & .technology-container {
        display: flex;
        flex-direction: column;

        @include laptop-desktops {
            flex-direction: row-reverse;
        }

        & .tech-image{
            & .mobile-image{
                display: block;

                @include laptop-desktops{
                    display: none;
                }
            }
            & .desktop-image{
                display: none;

                @include laptop-desktops{
                    display: block;
                }
            }
        }
    }
}
