//* Importing all style files
//! Do not remove
@import './utilities/import';
@import './typography/import'; 
@import './partials/import'; 



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body, html{
    width: 100%;
    height: 100vh;
    background: url('../assets/destination/background-destination-mobile.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}



